////////////////////////////////////////////////////////////
// CRUNCHBANG THEME
////////////////////////////////////////////////////////////
$cb-bg: #2E3436;
$cb-accent: #3B4245;
$cb-dark-bar: #191C1E;
$cb-light-bar: #292F30;
$cb-dark-text: #BFBFBF;
$cb-light-text: #FFF;

////////////////////////////////////////////////////////////
// PASTELS
////////////////////////////////////////////////////////////
$pastel-blue: #AEC6CF;
$pastel-green: #77DD77;
$pastel-gray: #CFCFCF;
